body{
    background-color: rgb(88, 88, 241);
    text-align: center;

}
h1{
    color: rgb(88, 88, 241);
    background-color: white;
    text-align: center;
    margin-top: 10%;
}
.Watch{
    background-color: white;
    block-size: 50%;
    margin-top: 4%;
    margin-right: 30%;
    margin-left: 30%;
    height: 50vh;
    border-radius: 30px;

}
.button{
    padding: 20px;
    margin: 40px;
    margin-top: 20%;
    
    
}
.Time{
    font-size: 40px;
    padding-top: 2cm;
    color: blue;
}
.btn{
    font-size: 20px;
    padding: 7px 20px;
    width: 160px;
    border: 0px;
    cursor: pointer;
    margin: 0px 10px ;
    border-radius: 5px;
    color: aliceblue;
}
#start{
    background-color: red;
}
#pause{
    background-color: darkblue;
}
#Reset{
    background-color: forestgreen;
}